*.a
*.cache/
*.class
*.db
*.dep
*.deps
*.dirstamp
*.dll
*.exe
*.in
*.ipynb
*.la
*.lib
*.libs
*.lo
*.log
*.m4
*.o
*.pc
*.props
*.py[cod]
*.so
*.status
*.swp
*.tar
*.xml
*Icon*
*_pb2.py
*egg-info
*~
.DS_Store
.cache
.coverage
.cproject
.dependencies
.eggs
.idea
.ipynb_checkpoints
.project
.pytest_cache
.ropeproject
.vscode
Makefile
MathFinder
MathFinderGtGen
ScrollView.jar
__pycache__
ambiguous_words
bin
build
classifier_tester
cntraining
coloredImages
combine_tessdata
compile
config.guess
config.h
config.sub
config_auto.h
configure
coverage.xml
data
dawg2wordlist
depcomp
dist
docs
install-sh
libtool
ltmain.sh
mftraining
missing
moc_mainWindow.cpp
moc_pageTab.cpp
pep8_report.txt
qrc_icons.cpp
select_random
select_training
shapeclustering
stamp-h1
tesseract
tesseract-ocr
training
unicharset_extractor
wordlist2dawg
